<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0eTiy2NV28N70jwVj9ZY15Lc4MlvnXbw</string>
	<key>GCM_SENDER_ID</key>
	<string>34996525208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dlbstudio.personaltrainer.personaltrainer</string>
	<key>PROJECT_ID</key>
	<string>ptsercan-75aea</string>
	<key>STORAGE_BUCKET</key>
	<string>ptsercan-75aea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34996525208:ios:91cc938c07d78bc51a98ed</string>
</dict>
</plist>